@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-url: url(./img/bg-desktop.jpg);
  --text-color: rgb(170, 231, 223);
    --stroke-color: rgba(32, 240, 213, 0.5);
    --surface-color: rgba(32, 240, 213, 0.1);
    --surface-color-hover: rgba(32, 240, 213, 0.2);
    --switch-bg-url: url(./img/MoonStars.svg);
    --highlight-color: rgba(32, 240, 213, 0.3);
}

.light {
  --bg-url: url(./img/bg-desktop-light.jpg);
  --text-color: #006495;
    --stroke-color: rgba(16, 66, 176, 0.5);
    --surface-color: rgba(16, 66, 176, 0.1);
    --surface-color-hover: rgba(16, 66, 176, 0.2);
    --switch-bg-url: url(./img/Sun.svg);
    --highlight-color: rgba(16, 66, 176, 0.3);
}

/* Modificações do body */
#App * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  list-style: none;
}

#App {
  background: var(--bg-url) no-repeat top center / cover;
  height: 100vh;
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 0px auto 0px;
  padding: 0 24px;
  padding-top: 15px;
}

#links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

#socialLinks {
  display: flex;
  justify-content: center;
  padding: 24px;
  gap: 16px;

  font-size: 24px;
}

@media (max-width: 700px) {
  :root {
    --bg-url: url(./img/bg-mobile.jpg);
  }
  .light {
    --bg-url: url(./img/bg-mobile-light.jpg);
  }
}

